  body {
    font-family: serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.header {
    width: 100%;
    text-align: center;
    margin-top: 3%;
    
}

.heading {
    display: inline;
     text-decoration: underline;
font-family: Roboto, sans-serif;
font-size: 19px;
font-style: normal;
font-weight: 700;

}

.secandheading {
    margin-bottom: 2%;
font-family: Roboto, sans-serif;
font-size: 19px;
font-style: normal;
font-weight: 300;   


font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;

}


.paragraph {
    margin: 0% 10%;
    color: #333232;
    font-size: 20px;
    line-height: 1.5;
}

.para1 {
    margin-bottom: 5%;
    /* font-size: 20px; */
    margin-top: 0.5%;
   

font-family: serif;
font-size: 20px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal ;
font-weight: 400;


}

.heading2 {
    display: inline;
    border-bottom: 2px solid #1d1d1d;

font-family: serif;
font-size: 22px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 700;

}

.button {
    padding: 14px 32px;
    background-color: rgb(15, 16, 64);
    color: azure;
    border: none;
    cursor: pointer;
    margin-bottom: 2%;
    transition: 0.3s;
font-family: "Roboto Mono", sans-serif;
font-size: 19px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;

}

.button:hover {
    background-color: rgb(30, 32, 100);
}
.homeshaddow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.5);
    
    /* z-index: 1; */
}

.heading3 {
    text-decoration: underline;
    text-underline-offset: 3px;

    
font-family: serif;
font-size: 22px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 700;
}


.table-container {
    width: 100%;
    box-sizing: border-box;
}

table {
    /* width: 100%; */
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; 
}

th, td {
      
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
    word-wrap: break-word; 
    overflow-wrap: break-word; 

font-family: Roboto, sans-serif;
font-size: 19px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 300;


}
.td-left{
    width: 10%;
    white-space: nowrap;
}
.td-right{
    width: 80%;

}










th {
    background-color: #f4f4f4;  
font-family: Roboto, sans-serif;
font-size: 19px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 700;

}


a {
    color: rgb(66,66,212);
    text-decoration: none;
    word-break: break-all; 

font-family: Roboto, sans-serif;
font-size: 19px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 300;

}

a:hover {
    text-decoration: underline;
}




.para {
    margin-bottom: 5%;
    font-size: 20px;
    margin-top: 4%;
     
    font-family: serif;
font-size: 20px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal ;
font-weight: 400;
}

.hyperlink {
    text-decoration: underline;
    color: rgb(66, 66, 209);

font-family: Roboto, sans-serif;
font-size: 19px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 300;

}

.blackContent {
font-family: serif;
font-size: 18px;
font-style: normal;
font-weight: 550;

}

 .sidebar {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: -25%;
    width: 20%;
    height: 100%;
    background: rgb(255,255,255);
    padding: 5px;
    transition: left 0.3s ease-in-out;
}

.sidebar.open {
    left: 0;
}

.sidebar-header {
    z-index: 1000;
    position: fixed;
    top: 0;
    padding-left: 8px;
    width: 18.5%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #5f5e5e;
    background-color: white;
    padding-top: 1%;
}

.close-btn {
    position: absolute;
    padding: 2px 8px;
    top: 20%;
    right: 8%;
    color: rgb(245, 243, 243);
    background-color: #252525;
    border: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 20px;
   
    
    transition: transform 0.3s ease-in-out;
}

.close-btn:hover {
    background: rgb(255,255,255);
     transform: rotate(180deg);
     color: #333232;
     font-weight: 600;

}

.sidebar-para {
   
    margin-top: 15%;
    padding: 0px 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6em;
}

.sidebar-switch {
    display: flex;
    justify-content: space-between;
}

.sidebar-switch h5 {
    font-size: 18px;
    font-weight: 300;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(146,143,191);
    transition: 0.3s;
    border-radius: 24px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: rgb(191,191,191);
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider::before {
    transform: translateX(20px);
}

.view-cookies-btn {
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.view-cookies-btn:hover {
    text-decoration: underline;
}

.cookie-item {
    background: rgb(229,229,229);
    padding: 10px;
    word-break: break-word;
}

.saveButton button {
    padding: 6px 100px;
    border: 2px solid rgb(35,122,252);
    font-size: 18px;
}

.saveButton button:hover {
    background: #dad7d7;
}

.Osanolink {
    font-size: 14px;
    font-weight: 300;
    color: #333232;
    margin-left: 25%;
    padding-bottom: 15%;
}





@media (max-width: 1024px) {
    .paragraph {
        margin: 0% 5%;
        font-size: 18px;
    }

    .button {
        font-size: 20px;
        padding: 12px 28px;
    }

    th, td {
        font-size: 16px;
        padding: 10px;
    }
   

    .blackContent {
        font-size: 18px;
    }
    .sidebar {
        width: 25%;
        left: -30%;
    }
    .sidebar-header {
        width: 25%;
    }
}


@media (max-width: 768px) {
    .header {
        margin-top: 2%;
    }

    .heading {
        font-size: 22px;
    }

    .secandheading {
        font-size: 18px;
    }

    .paragraph {
        margin: 0% 3%;
        font-size: 16px;
    }

    .para1 {
        font-size: 16px;
    }

    .heading2 {
        font-size: 18px;
    }

    .button {
        font-size: 18px;
        padding: 10px 24px;
    }

    th, td {
        font-size: 14px;
        padding: 8px;
    }

    
    table {
        table-layout: auto; 
    }

    .sidebar {
        width: 50%;
        left: -55%;
    }

    .sidebar-header {
        width: 50%;
    }
    .sidebar-para {
        font-size: 15px;
    }
    .blackContent {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .heading {
        font-size: 20px;
    }

    .secandheading {
        font-size: 16px;
    }

    .paragraph {
        margin: 0% 2%;
        font-size: 16px;
    }

    .para1 {
        font-size: 16px;
    }

    .heading2 {
        font-size: 16px;
    }

    .button {
        font-size: 16px;
        padding: 8px 20px;
    }

    th, td {
        font-size: 14px;
        padding: 6px;
    }

  
    table {
        table-layout: auto;
    }

    .sidebar {
        width: 80%;
        left: -85%;
    }
    .sidebar-header {
        width: 80%;
    }
    .sidebar-para {
        font-size: 14px;
    }
    .blackContent {
        font-size: 16px;
    }
}

@media (max-width: 320px) {

    .blackContent {
        font-size: 12px;
    }
    .heading {
        font-size: 18px;
    }

    .secandheading {
        font-size: 14px;
    }

    .paragraph {
        font-size: 14px;
    }

    .para1 {
        font-size: 14px;
    }

    th, td {
        font-size: 12px;
        padding: 5px;
    }
    table {
        table-layout: auto;
    }

    .sidebar {
        width: 80%;
        left: -85%;
    }
    .sidebar-header {
        width: 80%;
        font-size: 14px;
    }
    .sidebar-para {
        font-size: 13px;
    }
    .saveButton button {
        padding: 6px 50px;
        font-size: 14px;
    }
}
