{% extends 'base.html' %}
{% block title %} Schedule {% endblock title %}

{% block content %}
<div class="container">
    <h1 class="mt-3 text-center">Weekly Schedule</h1>
    {% for day, schedules in grouped_schedules.items %}
    <div class="card mt-4">
        <div class="card-header">
            <h2>Day {{ forloop.counter }}: {{ day|date:"l, F j" }}</h2>
        </div>
        <div class="card-body">
            {% for schedule in schedules %}
            <div class="mb-3">
                <h5>{{ schedule.start_time|time:"H:i" }} - {{ schedule.end_time|time:"H:i" }}</h5>
                <p>{{ schedule.plan_detail }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}