<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
{% if speaker %}
    {% for speakers in speaker %}
    <a href="{% url 'speaker_details' speakers.pk %}">
     <img src="{{speakers.speaker_image}}" alt="Speaker image" height="100" width="auto">
    </a> 
    
     {{speakers.speaker_name}}
     {{speakers.speaker_position}}

{% endfor %}



{% else %}


{% endif %}
   
</body>
</html>